body{
	font-family: sans-serif;
	background-color: lightblue;
}

h1{
	text-align:center;
	background-color: orange;
}

form{
	font-size:26px;
	background-color: yellow;
	text-align:center;
	
}

input[type="submit"] {
  width: 100px; 
  height: 30px; 
  font-size: 20px;
  background-color: darkgrey;
  color:black;
  font-weight: bold;
  
}

@media screen and (min-width: 600px){
	form{
	font-size:13px;
	text-align:center;
	display:flex;
	}
}


